body {
    background-color: #000000;
    color: aliceblue;
    display: flex;
}

body #ojos {
    width: 50%;
}

body #ojos img {
    height: 40%;
    width: 40%;
}

#formulario {
    width: 500px;
    margin: auto;
    font-size: 30px;
}

#formulario div {
    display: flex;
    padding: 1.2%;
    -webkit-box-shadow: 8px 9px 16px -3px #000000;
    box-shadow: 8px 9px 16px -3px #ffffff;
    margin: 0 auto;
}

#contenedor {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
}

.object {
    animation: MoveUpDown 1.5s linear infinite;
    position: absolute;
    left: 0;
}

@keyframes MoveUpDown {
    0%, 100% {
        Top: 0;
    }
    50% {
        top: 5px;
    }
}

.pelicula {
    width: 40%;
    padding: 5px;
}

.pelicula:hover {
    border: aliceblue solid 2px;
}

#pixi{
    perspective: 1000px;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#pixi canvas{
    width: 100%;
    height: 100%;
}